.own{
   
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.head{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: red;
}

